@use "./variables.scss" as *;
@use "./base.scss";

// put your custom CSS here!
.link-back {
    @media #{$mobile} {
      margin-top: 0em;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1.3em;
    }
    @media #{$tablet}, #{$desktop} {
      margin-top: -1.25em;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 1.6em;
    }
}